body {
    margin: 0px;
    font-family: Tahoma, Verdana, sans-serif;
}
/* Top section starts here */

.top-section {
    background: #1f2937;
    font-family: Tahoma, Verdana, sans-serif;
}
.header-and-links {
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
}

.page-logo {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 18px;
}
.header-links a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero-text-image {
    display: flex;
    justify-content: space-between;
    padding: 50px 120px;
    flex-wrap: wrap;
}
#first-image {
    width: 450px;
    height: 250px;
    flex-shrink: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 400px;
    margin: 0;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    width: 450px;
    margin: 0;
}

div button {
    background: #3882f6;
    color: #e5e7eb;
    margin-top: -22px;
    width: 120px;
    height: 32px;
    border-radius: 7px;
    outline: none;
    box-shadow: none;
}
/* Top section ends here */

/* Second section starts here */
.second-section{
    font-family: Tahoma, Verdana, sans-serif;
    padding: 0 120px;
    margin-bottom: -60px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 20px;
    flex-wrap: wrap;
}

.container img {
    width: 200px;
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 20px;
    flex-shrink: 0;
}

.info-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.info-text p {
    width: 200px;
    height: 200px;
}
/* Second section ends here */

/* Third section starts here */
.third-section {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 100px 300px;
    background: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    font-family: "Times New Roman", sans-serif;
}

.third-section p {
    margin: 0;
}

.quote {
    align-self: flex-end;
    font-style: normal;
    font-weight: bold;
    margin-top: -35px;
}
/* Third section ends here */

/* Fourth section begins here */
.fourth-section{
    padding: 50px 120px;
    margin: 0;
    
}
#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #3882f6;
    border-radius: 10px;
    padding: 48px;
}

.call p{
    display: flex;
    font-weight: bold;
    font-size: 23px;
    color: #e5e7eb;
}

#smaller {
    font-weight: 100;
    font-size: 20px;
}

.fourth-section button {
    outline: 2px solid #e5e7eb;
    box-shadow: none;
}

footer {
    background: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 30px;
}
